<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<!-- <div class="container">
  <div class="form-group">
<input type="text" class="form-control" [(ngModel)]="ResturantName"  placeholder="Restrunt name">
  </div>
  <div class="form-group">
<input type="text" class="form-control" [(ngModel)]="ResturantAddress" placeholder="Restrunt Address">
  </div>

  <div class="form-group">
<button (click)="createRecord()" class="btn btn-primary">Add</button>
  </div>


</div> -->
<!-- binding on form -->
<form [formGroup]="usrFormGroup"  class="m-2">

  <div class="mb-3">
      <label for="RestruntName" class="form-label">RestruntName</label>

      <input type="text" class="form-control" name="ResturantName" id="ResturantName" formControlName="ResturantName">

    </div>

  <div class="mb-3">
    <label for="ResturantAddress" class="form-label">ResturantAddress</label>
    <input type="text" class="form-control" name="ResturantAddress" id="ResturantAddress" formControlName="ResturantAddress">
  </div>



  <div formArrayName="menus">
    <div class="mb-3 ms-4" *ngFor="let menu of menus.controls;let i=index">
      <label for="menus{{i+1}}" class="form-label">menus.{{i+1}}</label>
      <input type="text" placeholder="Meal"  class="form-control" name="menus{{i+1}}" id="menus{{i+1}}" [formControlName]="i">
      <input type="number" placeholder="Price" class="form-control" name="menus{{i+1}}" id="menus{{i+1}}" [formControlName]="i">


    <button class="btn btn-primary d-block ms-auto" (click)="addMobile()" *ngIf="menu.value&&i==menus.controls.length-1">+</button>

    </div>
  </div>
<br>
  <button type="submit" class="btn btn-success" (click)="createRecord()">Submit</button>
</form>





